<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

	<variable name="appName" value="web-api-test" />

	<targets async="true">
		<target xsi:type="file"
					name="logfileInfo"
					layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
					fileName="${basedir}\Logs\Info.log"
					keepFileOpen="false"
					archiveFileName="${basedir}\Logs\Archive\Info_${shortdate}.{##}.log"
					archiveNumbering="Sequence"
					archiveEvery="Day"
					maxArchiveFiles="30"
            />
		<target xsi:type="file"
					name="logfileDebug"
					layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
					fileName="${basedir}\Logs\Debug.log"
					keepFileOpen="false"
					archiveFileName="${basedir}\Logs\Archive\Debug_${shortdate}.{##}.log"
					archiveNumbering="Sequence"
					archiveEvery="Day"
					maxArchiveFiles="30"
            />
		<target xsi:type="file"
					name="logfileError"
					layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
					fileName="${basedir}\Logs\Error.log"
					keepFileOpen="false"
					archiveFileName="${basedir}\Logs\Archive\Error_${shortdate}.{##}.log"
					archiveNumbering="Sequence"
					archiveEvery="Day"
					maxArchiveFiles="30"
            />
		<target name="console" xsi:type="ColoredConsole" layout="${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" />
	</targets>
	<rules>
		<logger name="System.*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
		
		<logger name="*" levels="Info" writeTo="logfileInfo, console" />
		<logger name="*" levels="Debug" writeTo="logfileDebug, console" />
		<logger name="*" levels="Error" writeTo="logfileError, console" />
	</rules>
</nlog>